version: '3.8'
services:
  web:
    image: josephumt/chatops:$CI_COMMIT_REF_SLUG  # Use the image from Docker>
    ports:
      - "80:5000"  # Map port 80 on the host to port 5000 in the container
    environment:
      - FLASK_ENV=production
      - DATABASE_URL=sqlite:////app/db/shareSpace.db
    volumes:
      - /home/production/chatops/project/dbdir:/app/dbdir  # Mount the existing DB
    restart: always  # Ensure the container restarts automatically if it stops
